.chatNav{
    min-height: 500;
    max-height: 470;
    width:400;
    position: fixed;
    bottom: 0; 
    right: 0;
    border: 2px solid gray;
    border-radius: 2%;
    max-width: 30%;
    background-color: whitesmoke;

}

.chatheader{
    display: flex;
    width: 100%;
    
    background-color: rgb(138, 107, 60);
    border-radius: 2%;
    justify-content: flex-start;
    align-items: center;
    
    
}

.chatHeaderLogo{
    display: flex;
    margin-left: 10px;
    color: rgb(107, 3, 3);
    font-size: 3vw;
    font-weight: 900;
}

.chatHeaderNav{
    display: flex;
    width: 100%;
    
    justify-content: flex-end;
    align-items: center;
    color: black;

}


@media (max-width: 500px){
    .chatNav{
        width: 100%;
        height: 75%;
        max-width: unset;
    }
    .chatheader{
        height: 50px;
    }
}