.cotizaCon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:8%;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-image: url('../../assets/images/ArcoIris2.jpg');
    background-size: cover;
    background-position-y: center;
    margin-top: -110px;

}

