.landingCon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:8%;
    flex-direction: column;
    height: 700px;
    width: 100%;
    background-image: url('../../assets/images/fondonegro.jpg');
    background-size: cover;
    margin-top: -110px;

}

.landingTitle0{
    color: white;
    font-size: 4vw;
    padding-top: 80px;
}

.landingButtons{
    
    margin-top: 50px;
    display: flex;
    width: 100%;
    

}

.landingButton{
    border: 3px solid rgb(102, 104, 102);
    color: white;
    margin: 10px;
    margin-right: 30px;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 25%;
}

.landing1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: rgb(104, 103, 103);
}

.landing2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-image: url('../../assets/images/Ola.JPG');
    background-size: cover;
    background-position-y: bottom;
}

.landingTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 3vw;
}
 .landingTitle>img{
     height: 50px;
 }

 .landing2Title{
     font-size: 3vw;
     color: white;
     padding-right: 10%;
     padding-left: 10%;

 }

 .landing1Title{
    font-size: 2vw;
    color: white;
    padding-right: 10%;
    padding-left: 10%;

}

.landing3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-image: url('../../assets/images/ArcoIris.jpg');
    background-size: cover;
    background-position-y: bottom;
    padding-top: 20%;
}