.footer{
    display: flex;
    height: 90px;
    width: 100%;
    background-color: steelblue;
    justify-content: unset ;
    align-items: center;
    z-index: 10;

}

.footerLogo{
    display: flex;
    margin-left: 100px;
    color: rgb(107, 3, 3);
    font-size: 3vw;
    font-weight: 900;
}
.footerNav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    color: black;

}
.footerText{
    color:black;
    margin-right: 50px;
    font-size: 2vw;
}

.footerNav{
    display: flex;
    margin-right: 100px;
}