.header{
    display: flex;
    height: 110px;
    width: 100%;
    background-color: transparent;
    justify-content: unset ;
    align-items: center;
    z-index: 10;

}

.headerLogo{
    display: flex;
    margin-left: 100px;
    color: rgb(107, 3, 3);
    font-size: 3vw;
    font-weight: 900;
}
.headerNav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    color: black;

}
.headerText{
    color:white;
    margin-right: 50px;
    font-size: 2vw;
}

.headerNav{
    display: flex;
    margin-right: 100px;
}